body,html {
	height: 100%;
}
/*pic*/
#item { 
	width:100%;
	position: relative;
}
#item li{
	float:left;
	width:25%; 
	height:200px;
	position:relative;
	cursor:pointer;
	margin: 10px 0px;
	text-align: center;
	overflow:hidden;
}
#item li .mask_b{
	position:absolute;
	overflow:hidden;
	width:100%;
	height:100%;
	left:0;top:0; 
	text-shadow: 0 1px 1px #878787;  
}
#item li.active .mask_b{
	background:none;
}
#item li .mask_b h4{
	color:#fff;
	margin:0 auto;
	display:block;
	font:30px/30px Microsoft Yahei;
	position:relative;
	padding:60px 0 0 0;
}
#item li.big{
	width:25%;
}
#item li .adv_intro{ 
	display:none; 
	width:92%; 
	height:40px; 
	padding:5px 4%; 
	position:absolute;
	left:0; 
	bottom:0px;
	color:#FFF; 
	overflow:hidden;
}
#item .adv_intro_show{
	bottom:0 !important;
	transition:bottom 0.3s ease-out 0.3s;
	-webkit-transition:bottom 0.3s ease-out 0.3s;
}
#item .pic_auto{
	width:100%;
	height:100%;
}
#item .pic_auto1{
	background:url(../img/item1.jpg) no-repeat center 0; 
}
#item .pic_auto2{
	background:url(../img/item2.jpg) no-repeat center 0;
}
#item .pic_auto3{
	background:url(../img/item3.jpg) no-repeat center 0;
}
#item .pic_auto4{
	background:url(../img/item4.jpg) no-repeat center 0;
}

/*focus*/
#content,
#content .DB_tab25.web,
#content .DB_tab25 .DB_bgSet li,
#content .DB_tab25 .DB_imgSet li
{
	width: 100%;
	height: 100%;
}
#content {
	position: relative;
}
#content .DB_tab25 {
	margin-top:60px;
	width:100%;
}
#content .DB_tab25.mobile{
	display:none;
}
#content .DB_tab25.web{
	display:block;
}
#content .DB_tab25 .DB_bgSet li{
	position:absolute;
	width:100%;
	display: none;
}
#content .DB_tab25 .DB_imgSet li{
	display: none;
}
#content .DB_tab25 .DB_imgSet li:first-child,
#content .DB_tab25 .DB_bgSet li:first-child
{
	display: block;
}
#content .DB_tab25 .DB_bgSet li.li_zc_01{
	background:url(../../static/img/banner_zq.jpg) center no-repeat;
	background-size:cover;
}
#content .DB_tab25 .DB_bgSet li.li_zc{
	background:url(../../static/img/banner_zc.jpg) center no-repeat;
	background-size:cover;
}
#content .DB_tab25 .DB_bgSet li.li2{
	background:url(../../static/img/banner2.jpg) center no-repeat;
	background-size:cover;
}
#content .DB_tab25 .DB_bgSet li.li3{
	background:url(../../static/img/ticwatch-gold1.jpg) center no-repeat;
	background-size:cover;
}
#content .DB_tab25 .DB_bgSet li.li4{
	background:url(../../static/img/ticwatch-gold2.jpg) center no-repeat;
	background-size:cover;
}
#content .DB_tab25 .DB_bgSet li.li_hang{
	background:url(../../static/img/banner_hang.jpg) center no-repeat;
	background-size:cover;
}
#content .DB_tab25 .DB_bgSet li.google{
	background:url(http://chumenwenwen.com/static/img/focus/google.jpg) center no-repeat;
	background-size:100%;
}
#content .DB_tab25 .DB_bgSet li.li_xxp{
	background:url(../../static/img/banner_xxp.jpg) center no-repeat;
	background-size: auto 100%;
}
#content .DB_tab25 .DB_imgSet{
	position:absolute !important;
	width: 100%;
	height: 100%;
}
.DB_tab25 .DB_imgSet .google {
	width: 100%;
	height: 100%;
}
.DB_tab25 .DB_imgSet .google a{
	display: block;
	width: 100%;
	height: 100%;
}
#content .DB_tab25 .DB_menuWrap .DB_menuSet{
	position:absolute; 
	width: 100%; bottom:3%;
	text-align:center;
	font-size:0; 
	border-radius:20px;
}
#content .DB_tab25 .DB_menuWrap .DB_menuSet li{
	cursor:pointer;
	margin:0 10px;
	display:inline
}
#content .conbg_inner{
	max-width: 1000px;
	margin: 0 auto;
	text-align: right;
	position:relative;
}
#content .conbg_inner .tic{
	position: absolute;
	width: 100%;
	padding-top:3%;
	right: 0px;
}
#content .conbg_inner .tic img{
	width:12%;
}
#content .DB_tab25 .DB_imgSet .text{
	width: 100%;
	height: 33px;
	margin: 0 auto;
	text-align: center;
	margin-top:10%;
	left:0px;
	z-index: 2;
	background: url(../img/text1.png) center no-repeat;
}
#content .DB_tab25 .DB_imgSet h2{
	width: 100%;
	text-align: center;
	padding-top: 1.5%;
	font-size: 35px;
	font-weight: normal;
	letter-spacing: 10px;
	color:#fff;
}
#content .DB_tab25 .DB_imgSet .lets{
	width: 100%;
	text-align: center;
	padding-top: .5%;
	font-size: 70px;
	color:#fff;
}
#content .DB_tab25 .btn{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom:12%;
	left:0px;
}
#content .DB_tab25 .btn.xxp-btn{
	bottom: 20%;
	left:20%;
	width: 80%;
}
#content .DB_tab25 .btn.zq-btn{
	bottom: 5%;
	left:0;
}
#content .DB_tab25 .btn.zc-btn{
	margin:0 auto;
	bottom:5%;
}
#content .DB_tab25 .btn a,#content .DB_tab25 .btn.zq-btn a{
	font-size:0.8em;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 5px 20px;
	margin:0px 5%;
	color: #fff;
	font-size: 16px;
}
#content .DB_tab25 .btn.zq-btn a{
	padding: 5px 40px;
}
#content .DB_tab25 .btn a:hover{
	border: 3px solid #828282;
	animation: bgChange .3s forwards;
	-webkit-animation: bgChange .3s forwards;
}
#content .DB_tab25 .btn.gold a{
	border: 3px solid #fed47b;
	color: #fed47b;
}
#content .DB_tab25 .btn.gold a:hover{
	border: 3px solid #fed47b;
	color: #fff;
	animation: bgChange-g 0.3s forwards;
	-webkit-animation: bgChange-g .3s forwards;
}
#content .DB_tab25 .btn.xxp-btn a,#content .DB_tab25 .btn.zc-btn a{
	border: 2px solid #000;
	color: #000;
}
#content .DB_tab25 .btn.xxp-btn a:hover,#content .DB_tab25 .btn.zc-btn a:hover{
	border: 3px solid #000;
	color: #fff;
	animation: bgChange-black .3s forwards;
	-webkit-animation: bgChange-black .3s forwards;
}
#content .DB_tab25 .DB_imgSet .text.gold{
	position: absolute;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	height: 117px;
	text-align: center;
	margin-top:10%;
	z-index: 2;
	background: url(../img/ticwatch-gold/new_tic.png) no-repeat;
	background-size: 300px auto;
}
#content .DB_tab25 .DB_imgSet .text.gold img{
	width: 100%;
}
.downbtn{
	position: absolute;
	bottom:15px;
	width: 100%;
	text-align: center;
	z-index:4;
	animation:downbtn 1s;
	-webkit-animation:downbtn 1s;
	animation-iteration-count:4;
	-webkit-animation-iteration-count:4;
}
.downbtn img{
	width:30px;
}
@keyframes downbtn{
	0%{ bottom:15px;}
	50%{ bottom:10px;}
	100%{ bottom:15px;}
}
@-webkit-keyframes downbtn{
	0%{ bottom:15px;}
	50%{ bottom:10px;}
	100%{ bottom:15px;}
}
@keyframes bgChange{
	0%{ background:none;}
	100%{ background:#828282; color: #fff;}
}
@-webkit-keyframes bgChange{
	0%{ background:none;}
	100%{ background:#828282; color: #fff;}
}
@keyframes bgChange-g{
	0%{ background:none;}
	100%{ background:#fed47b; color: #fff;}
}
@-webkit-keyframes bgChange-g{
	0%{ background:none;}
	100%{ background:#fed47b; color: #fff;}
}
@keyframes bgChange-black{
	0%{ background:none;}
	100%{ background:#000; color: #fff;}
}
@-webkit-keyframes bgChange-black{
	0%{ background:none;}
	100%{ background:#000; color: #fff;}
}

@media screen and (max-width: 800px) {
	#content .conbg .text img{
		width:80%;
	}
	#content .conbg .btn a{
		text-align: center;
		margin:0 auto;
	}
	#content .DB_tab25 .btn.gold a{
		text-align: center;
		margin:0 auto;
		margin-top: 10px;
	}
	#content .conbg_inner .tic{
		position: absolute;
		width: 100%;
		padding-top:3%;
		right: 16px;
	}
	#content .DB_tab25.mobile{
		display:block;
	}
	#content .DB_tab25.web{
		display:none;
	}
	#content .DB_tab25.mobile li {
		width: 100%;
		height: 100%;
	}
	#content .DB_tab25.mobile li a{
		padding: 0 !important;
		margin: 0 !important;
		width: 100%;
		height: 100%;
		display: block;
	}
	#content .DB_tab25 .DB_bgSet li{
		background-size: 100% auto !important;
		background-origin: left top !important;
	}     
	#content .DB_tab25 .DB_bgSet li.li_zc_01{
        background:url(../../static/img/banner_phone_011.jpg) center no-repeat;
    }
    #content .DB_tab25 .DB_bgSet li.li_zc{
        background:url(../../static/img/banner_phone_01.jpg) center no-repeat;
    }
    #content .DB_tab25  .DB_bgSet li.li_xxp{
        background:url(../../static/img/banner_phone_02.jpg) center no-repeat;
    }
    #content .DB_tab25 .DB_bgSet li.li2{
        background:url(../../static/img/banner_phone_03.jpg) center no-repeat;
    }
    #content .DB_tab25 .DB_bgSet li.li4{
        background:url(../../static/img/banner_phone_04.jpg) center no-repeat;
    }
}
.mask-box{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	display: none;
}
.mask{
	width: 80%;
	max-width: 1280px;
	margin: 0 auto;
	margin-top: 12%;
	position: relative;
}
.mask img{
	width: 100%;
}
.mask p{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
	background: rgba(0,0,0,.5);
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	display: none;
	font-weight: normal;
	cursor: pointer;
}
.mask p span{
	color: #ccc;
}
